@import url("https://fonts.googleapis.com/css2?family=Alegreya:ital@0;1&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lora&family=Rowdies&display=swap");
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
@import url("https://fonts.googleapis.com/css2?family=Alegreya:ital@0;1&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lora&family=Rowdies&display=swap");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*@mixin column($percentage, $float-direction:left) {
  width: 100% * $percentage;
  float: $float-direction;
}*/
/* SCSS HEX Colors pallette */
header {
  background-color: #c77635ff;
}

.cd-logo {
  /* logo box style */
  background-color: #efb492ff;
  width: 120px;
}
@media only screen and (min-width: 1024px) {
  .cd-logo {
    width: 180px;
  }
}

.cd-main-nav {
  /* main navigation background color - full screen on small devices */
  background: #c77635ff;
}
.cd-main-nav li a {
  color: #715b27ff;
  border-color: #ce8347;
}
@media only screen and (min-width: 1024px) {
  .cd-main-nav li a {
    color: #f4e2d4;
  }
  .cd-main-nav li a.selected {
    color: #715b27ff;
    box-shadow: 0 2px 0 #efb492ff;
  }
  .cd-main-nav li a:hover {
    color: #c77635ff;
    background-color: #6acdffff;
  }
}

.cd-nav-trigger span {
  /* hamburger menu */
  background-color: #715b27ff;
}
.cd-nav-trigger span::before, .cd-nav-trigger span::after {
  /* upper and lower lines */
  background-color: #715b27ff;
}

.nav-is-visible .cd-nav-trigger span {
  /* hide line in the center on mobile when nav is visible */
  background-color: rgba(113, 91, 39, 0);
}
.nav-is-visible .cd-nav-trigger span::before, .nav-is-visible .cd-nav-trigger span::after {
  /* preserve visibility of upper and lower lines - close icon */
  background-color: #715b27;
}

.cd-download {
  /* download button top-right visible on big devices */
  background-color: #d3915c;
}
.no-touch .cd-download:hover {
  background-color: #d99e70;
}
.cd-download span {
  /* tooltip */
  background: #efb492ff;
  color: #715b27ff;
}
.cd-download span::before {
  /* right arrow color */
  border-color: #efb492ff;
}

h1,
h2 {
  font-family: "Rowdies", cursive;
  color: #c77635ff;
}

h1 {
  font-size: 2.4rem;
  font-weight: 300;
  line-height: 1.2;
  margin: 0 0 0.4em;
}
@media only screen and (max-width: 768px) {
  h1 {
    font-size: 3.2rem;
  }
}
@media only screen and (min-width: 1024px) {
  h1 {
    font-size: 4rem;
  }
}

h2 {
  font-weight: bold;
  text-transform: uppercase;
  margin: 1em 0;
}
@media only screen and (max-width: 768px) {
  h2 {
    font-size: 1.8rem;
    margin: 1em 0 1.4em;
  }
}

section > h2::before {
  /* number before each section title */
  color: #008cfc;
}

p {
  font-size: 1.4rem;
  line-height: 1.4;
  color: #e4ba98;
}
p a {
  color: #efb492ff;
  text-decoration: underline;
}
@media only screen and (max-width: 768px) {
  p {
    font-size: 1.6rem;
    line-height: 1.6;
  }
}

/* SCSS HEX Colors pallette */
.cd-box {
  /* this is the container of various design elements - i.e. the 2 logo of the branding section */
  border: 1px solid #49aeff;
  border-radius: 3px;
  background: #715b27;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
  padding: 6px;
}

html {
  margin: 0;
  padding: 0;
}

body {
  position: relative;
  font: "Alegreya", serif;
  line-height: 1.88889;
  color: #c87634;
  margin: 0;
  padding: 0;
}
body::before {
  content: "";
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  background-image: url(src/111563527_presentation-wide_bgr.png);
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  background-color: #715b27;
  opacity: 0.2;
}

p {
  margin-top: 0;
  text-align: justify;
  color: #0e0c0d;
}

main > h1 {
  color: #0e0c0d;
}
@media only screen and (min-width: 1600px) {
  main > h1 {
    /* title goes into the header on big devices */
    color: #0e0c0d;
  }
}

h3 {
  font: "Rowdies", cursive;
  font-size: x-large;
  letter-spacing: 1px;
  margin-bottom: 0;
  color: #0e0c0d;
  font-weight: bold;
}

a:link {
  font-weight: bold;
  text-decoration: none;
  color: #036bc6;
}

a:visited {
  font-weight: bold;
  text-decoration: none;
  color: #036bc6;
}

a:hover, a:focus, a:active {
  text-decoration: underline;
  color: #efb492;
}

abbr {
  border-bottom: none;
}

.page-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 200px 1fr 1fr 1fr 1fr 100px;
  gap: 1rem;
  margin: 0;
  position: relative;
}
.page-wrapper .intro {
  grid-area: 1/1/3/6;
  display: grid;
  grid-template-columns: 1fr 2fr 2fr;
  grid-template-rows: 200px 1fr;
  gap: 1rem;
  min-width: 470px;
  width: 100%;
}
.page-wrapper .intro header {
  grid-area: 1/1/2/4;
  margin: 1em;
  padding-top: 30px;
  padding-bottom: 30px;
  height: 87px;
  border-radius: 40px;
}
.page-wrapper .intro header h1 {
  background: transparent url(src/logo.272a18c5.svg) no-repeat top;
  background-size: 3em;
  background-position: 60%;
  font: "Alegreya", serif;
  color: #715b27;
  display: block;
  font-size: xx-large;
  padding-left: 1em;
  width: 219px;
  height: 87px;
  float: left;
}
.page-wrapper .intro header h2 {
  color: #715b27;
  margin-top: 58px;
  margin-bottom: 40px;
  padding-right: 1em;
  height: 18px;
  float: right;
}
.page-wrapper .intro .summary {
  grid-area: 1/2/2/4;
  position: absolute;
  margin: 45px 20px 20px 10px;
  width: auto;
}
.page-wrapper .intro .summary .summary p {
  font: italic 1.1em/2.2 georgia;
  text-align: center;
}
.page-wrapper .intro .preamble {
  grid-area: 2/2/3/3;
  clear: right;
  padding: 0 2rem 0 0;
}
.page-wrapper .supporting {
  grid-area: 2/2/6/6;
  display: grid;
  gap: 1rem;
  padding-right: 1em;
}
.page-wrapper .supporting .explanation {
  grid-area: 1/3/3/5;
}
.page-wrapper .supporting .participation {
  grid-area: 3/1/4/3;
}
.page-wrapper .supporting .benefits {
  grid-area: 4/1/5/3;
}
.page-wrapper .supporting .requirements {
  grid-area: 3/3/5/5;
}
.page-wrapper .supporting footer {
  grid-area: 5/1/6/5;
  text-align: center;
}
.page-wrapper .supporting footer .a:link, .page-wrapper .supporting footer a:visited {
  margin-right: 20px;
}
.page-wrapper .sidebar {
  grid-area: 2/1/6/2;
}
.page-wrapper .sidebar .wrapper {
  position: relative;
  font: 12px verdana, sans-serif;
  color: #715b27;
  font-weight: bold;
  font-style: italic;
  padding-left: 3em;
  width: 200px;
}
.page-wrapper .sidebar .wrapper::before {
  content: "";
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  background: transparent url(src/343461.gif) no-repeat fixed;
  background-position: 5% 50%;
  opacity: 45%;
}
.page-wrapper .sidebar h3.select {
  color: #0e0c0d;
  margin: 10px 0 5px 0;
  font-size: medium;
  width: 97px;
  height: 16px;
  white-space: nowrap;
}
.page-wrapper .sidebar h3.archives {
  margin: 25px 0 5px 0;
  font-size: medium;
  width: 57px;
  height: 14px;
  white-space: nowrap;
}
.page-wrapper .sidebar h3.resources {
  margin: 25px 0 9px 0;
  font-size: medium;
  width: 63px;
  height: 10px;
  white-space: nowrap;
}
.page-wrapper .sidebar ul {
  margin: 0;
  padding: 0;
}
.page-wrapper .sidebar li {
  line-height: 1.3em;
  display: block;
  padding-top: 5px;
  margin-bottom: 5px;
  list-style-type: none;
}
.page-wrapper .sidebar li a:link {
  color: #715b27;
}
.page-wrapper .sidebar li a:hover {
  color: #49aeff;
}
.page-wrapper .sidebar li a:visited {
  color: #c87634;
}

@media only screen and (max-width: 768px) {
  .page-wrapper {
    display: block;
  }
  .page-wrapper .intro {
    display: block;
    width: auto;
  }
  .page-wrapper .intro header {
    margin: 0;
    border-radius: 0%;
  }
  .page-wrapper .intro header h2 {
    margin-top: 0;
    margin-bottom: 0;
    height: auto;
  }
  .page-wrapper .intro .banner {
    margin: 0;
  }
  .page-wrapper .intro .summary {
    width: auto;
    margin: auto;
  }
  .page-wrapper .intro .preamble {
    width: auto;
    padding: 0;
  }
  .page-wrapper .supporting {
    display: block;
  }
}

/*# sourceMappingURL=styles.css.map */
