// color palette - these colors will be the color swatches of the Colors section

/* SCSS HEX Colors pallette */

$color-5: #715b27ff; // Field-drab
$color-2: #c77635ff; // copper
$color-1: #efb492ff; // tumbleweed
$color-4: #49aeffff; // blue-jeans
$color-3: #6acdffff; // light-sky-blue

// additional colors

$success: #6fce72; // green
$alert: $color-3; // red